.schedule-container {
    /* margin-top: 100px; */
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    gap:15px;
    width: 100vw;
    /* height: 100%; */
    background-color: #ffaf1b;
    color: white;
    background-image: url('/public/background_event.png');
    background-size: cover;
    background-position: center;
}

.day-selection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
    padding: 30px;
    /* background-color: rgb(255, 255, 255); */
    /* margin-bottom: 3%; */

}

.day-button {
    /* padding: 10px; */
    border: 1px solid black;
    cursor: pointer;
    color: black;
    /* width: 15%; */
    border: 4px solid #000;
    background-color: #ffffff;
    padding: 1.5rem;
    box-shadow: 10px 10px 0 #000;
    font-family: "Arial", sans-serif;
    /* margin-top: 20px; */
}


.selected-day {
    background-color: rgb(0, 0, 0);
    color: rgb(3, 3, 3);
    /* width: 15%; */
    border: 4px solid #000;
    background-color: #ffaf1b;
    padding: 1.5rem;
    box-shadow: 10px 10px 0 #000;
    font-family: "Arial", sans-serif;
    /* margin-top: 20px; */
}

.event-type-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

.type-button {
    /* padding: 10px; */
    margin: 2%;
    cursor: pointer;
    color: black;
    /* width: 15%; */
    border: 4px solid #000;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 10px 10px 0 #000;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin-top: px; */
}

.selected-tech {
    /* padding: 10px; */
    margin: 2%;
    cursor: pointer;
    color: black;
    /* width: 15%; */
    border: 4px solid #000;
    background-color: #ffaf1b;
    padding: 1rem;
    box-shadow: 10px 10px 0 #000;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin-top: px; */
}

.selected-cultural {
    /* padding: 10px; */
    margin: 2%;
    cursor: pointer;
    color: black;
    /* width: 15%; */
    border: 4px solid #000;
    background-color: #ffaf1b;
    padding: 1rem;
    box-shadow: 10px 10px 0 #000;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin-top: px; */
}

.schedule-content {
    display: flex;
    /* flex: 1; */
}

.category-sidebar {
    display: flex;
    /* flex-direction: column; */
    /* width: 20%; */
    padding: 10px;
}

.category-button {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #ffaf1b;
    border: 2px solid black;
    cursor: pointer;
    color: black;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 5px 5px 0px black;
}

.selected-category {
    background-color: pink;
}

.event-details {
    /*padding: 20px;
    background-color: white;
    border-radius: 5px;
    color: black; */

    background-color: rgb(0, 0, 0);
    color: rgb(3, 3, 3);
    width: 100%;
    height: 100%;
    border: 4px solid #000;
    background-color: #fef7d4;
    padding: 1.5rem;
    box-shadow: 10px 10px 0 #000;
    font-family: "Arial", sans-serif;
    margin-top: -20px;
    border-radius: 5px;

}