@font-face {
  font-family: Rockybilly;
  src: url(../../public/Rockybilly.ttf);
}


.hero1 {
  position: absolute;
  z-index: 10;
  /* Lower than Navbar */
  top: 30%;
  left: 18%;
  /* transform: translate(-20%, -50%); */
  width: 80vw;
  /* Covers 70% of the viewport width */
  font-size: 7vw;
  /* Responsive font size based on viewport width */
  font-family: Rockybilly;
  font-weight: 700;
  color: #280003;
  text-align: center;
  white-space: nowrap;
  /* Ensures the text remains in a single line */
}

.hero-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  /* Full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.animation {
  position: static;
  z-index: 1;
  /* Lower than navbar */
}

@media (max-width: 900px) {
  .hero1 {
    top: 40%;
    transform: translate(-15%, -50%);
  }
}

@media (max-width: 600px) {
  .hero1 {
    font-size: 11vw;
  }
}