#textblock {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("./pages/Events/background_image/background_event.png");
  /* Add your image path here */
  background-attachment: fixed;
  /* Keeps the background image fixed */
  background-size: cover;
  /* Ensures the image covers the entire background */
  background-position: center;
  /* Centers the background image */
  padding: 40px 20px;
}

#textblock-container {
  max-width: 80vw;
  text-align: center;
  background: rgb(0, 0, 0);
  padding: 5%;
  border-radius: 12px;
  backdrop-filter: blur(30px);
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;

}

#textblock-title {
  font-size: 5.5rem;
  font-weight: bold;
  color: #ffaf1b;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#textblock-content {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #ffaf1b;
  margin-top: 10px;
}

#textblock-content strong {
  font-size: 1.3rem;
  color: #d38900;
}

#textblock-container {
  width: 100%;
}

#headings
{
  display: flex;
  flex-direction: column;
  gap: 0;
}

#head-container
{
  display: flex;
  gap: 50px;
  justify-content: center;
  width: 50%;
}

#logo
{
  background-color: azure;
  border-radius: 70px;
  width: 120px;
  height: 120px;
}

#textblock-subtitle
{
  margin-top: -25px;
  margin-left: -200px;
  font-size: medium;
  font-weight: 600;
}

#title-container
{
  display: flex;
  flex-direction: column;
  margin-top: -15px;
}

#text
{
  width: 50%;
}