#textblock {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("./pages/Events/background_image/background_event.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 40px 20px;
}

#textblock-container {
  max-width: 90vw;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 5%;
  border-radius: 12px;
  backdrop-filter: blur(30px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Title and Subtitle */
#title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

#textblock-title {
  font-size: 4rem;
  font-weight: bold;
  color: #ffaf1b;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#textblock-subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffaf1b;
  margin-top: -5px;
}

/* Text Content */
#textblock-content {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #ffaf1b;
  margin-top: 10px;
}

/* Logo */
#head-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

#logo {
  width: 350px;
  height: auto;
}

/* Responsive Design */
@media (max-width: 1024px) {
  #textblock-title {
    font-size: 3.5rem;
  }
  
  #textblock-content {
    font-size: 1.1rem;
  }

  #logo {
    width: 200px;
    height: auto;
  }
}

@media (max-width: 768px) {
  #textblock-container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding-left: 35%;
    padding-right: 35%;
  }

  #textblock-title {
    font-size: 3rem;
  }

  #textblock-content {
    font-size: 1rem;
  }

  #logo {
    width: 120px;
  }
}

@media (max-width: 480px) {

  #textblock-container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    padding-left: 50%;
    padding-right: 50%;
  }


  #textblock-title {
    font-size: 2.5rem;
  }

  #textblock-subtitle {
    font-size: 1rem;
  }

  #textblock-content {
    font-size: 0.95rem;
  }

  #logo {
    width: 100px;
  }
}
