@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Outfit:wght@100..900&family=Prata&display=swap");
.events {
  /* background-color: #4b0000; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 0;
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-top: 25vh; /* Added space from top */
  background-image: url("./background_image/background_event.png"); /* Add your image path here */
  background-attachment: fixed; /* Keeps the background image fixed */
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the background image */
}
.event_top {
  margin-bottom: 20vh; /* Space for next section */
  text-align: center;
}
.event_top_top h1,
.event_top_mid h1 {
  font-family: Salsa;
  color: #ffffff;
  -webkit-text-stroke: 3px #4b0000;
  font-size: 10vw;
  margin: 0;
}
/* .event_top_bot button {
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  border: 4px solid #ffaf1b;
  background-color: #4b0000;
  color: #ffaf1b;
  font-size: 1.5vw;
  cursor: pointer;
} */
.event_mid {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.event_mid_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10vh;
  margin-bottom: 20px;
}
.event_mid_top h1 {
  font-size: 10vw;
  font-weight: bold;
  margin: 0;
}

.event_mid_mid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  transform: translate(-50%);
  position: relative;
  /* tran */
  left: 50%;
  column-gap: 10px;
  width: 100vw;
  /* margin: 0 auto; */
}
.event_mid .event_mid_mid .container {
  margin-top: 20px;
  border: 1px solid #ffaf1b;
  width: 400px;
  height: 400px;
}
@media screen and (max-width: 1310px) {
  .event_mid_mid {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Added media query for smaller screens */
@media screen and (max-width: 810px) {
  .event_mid .event_mid_mid .container {
    margin-top: 20px;
    border: 1px solid #ffaf1b;
    width: 600px;
    height: 600px;
  }
  .event_mid_mid {
    grid-template-columns: 1fr;
    /* Single column layout */
    width: 100%;
  }
}
@media screen and (max-width: 610px) {
  .event_mid .event_mid_mid .container {
    margin-top: 20px;
    border: 1px solid #ffaf1b;
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 425px) {
  .event_mid .event_mid_mid .container {
    margin-top: 20px;
    border: 1px solid #ffaf1b;
    width: 300px;
    height: 300px;
  }
}
